# salin file ini dan buat jadi .env

SUPABASE_AUTH_GOOGLE_CLIENT_ID="nama_google_client_id"
SUPABASE_AUTH_GOOGLE_SECRET_KEY="nama_google_secret_key"

SUPABASE_AUTH_SMTP_HOST="smtp_host"
SUPABASE_AUTH_SMTP_PORT="smtp_port"
SUPABASE_AUTH_SMTP_EMAIL="nama_email"
SUPABASE_AUTH_SMTP_PASSWORD="nama_password"