# env server
PROTECTED_PATHS="/auth/reset-password,/profile" #opsional
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key #wajib

# env client
# dummy
NEXT_PUBLIC_TMDB_ACCESS_TOKEN=api_token #wajib, not the api key
NEXT_PUBLIC_SUPABASE_URL=akun_supabase_url #wajib
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=akun_supabase_publishable_key #wajib
NEXT_PUBLIC_CAPTCHA_SITE_KEY=akun_captcha_site_key #opsional, untuk captcha
NEXT_PUBLIC_AVATAR_PROVIDER_URL=akun_avatar_provider_url #opsional, logo user
